.header-left {
  margin-top: 60px;
}
.header-left h2 {
  font-size: 80px;
  font-weight: 700;
  color: #130F49;
}
.header-left p {
  color: #130F4980;
  font-size: 22px;
  margin-top: 20px;
}
.header-left button {
  background-color: #130F49;
  color: #ffffff;
  border: none;
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.scroll-mouse {
  margin-top: 40px;
  border: 2px solid #ccc;
  height: 42px;
  width: 26px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.scroll-mouse .wheel {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
  margin-top: 10px;
  animation: wheel 2s ease infinite;
}

@keyframes wheel {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(18px);
  }
}
.header-right {
  margin-top: 60px;
}

.header-imgs {
  position: relative;
}
.header-imgs img {
  width: 100%;
}
.header-imgs .img-dots {
  position: absolute;
  top: 0;
  left: 0;
}
.header-imgs .img-drop {
  background-color: #D9F4FF;
  border-radius: 50% 0 50% 50%;
  overflow: hidden;
}

body {
  position: relative;
}
body .header-radius {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.expertise {
  margin-top: 100px;
}

.exp-top h2 {
  color: #130F49;
  font-size: 50px;
  text-align: center;
  margin-bottom: 80px;
}

.exp-item {
  display: flex;
  flex-direction: column;
}
.exp-item .title {
  display: flex;
  align-items: center;
}
.exp-item .exp-img {
  background-color: rgba(149, 255, 244, 0.3);
}
.exp-item h3 {
  margin-left: 20px;
}
.exp-item .exp-content {
  margin-top: 10px;
  padding: 10px;
}