.header-left {
  margin-top: 60px;
}
.header-left h2 {
  font-size: 80px;
  font-weight: 700;
  color: #130F49;
}
.header-left p {
  color: #130F4980;
  font-size: 22px;
  margin-top: 20px;
}
.header-left button {
  background-color: #130F49;
  color: #ffffff;
  border: none;
  padding: 12px 32px;
  font-size: 24px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.scroll-mouse {
  margin-top: 40px;
  border: 2px solid #ccc;
  height: 42px;
  width: 26px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.scroll-mouse .wheel {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
  margin-top: 10px;
  animation: wheel 2s ease infinite;
}

@keyframes wheel {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(18px);
  }
}
.header-right {
  margin-top: 60px;
}

.header-imgs {
  position: relative;
}
.header-imgs img {
  width: 100%;
}
.header-imgs .img-dots {
  position: absolute;
  top: 0;
  left: 0;
}
.header-imgs .img-drop {
  background-color: #D9F4FF;
  border-radius: 50% 0 50% 50%;
  overflow: hidden;
}

body {
  position: relative;
}
body .header-radius {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.expertise {
  margin-top: 100px;
}

.exp-top h2 {
  color: #130F49;
  font-size: 50px;
  text-align: center;
  margin-bottom: 80px;
}

.exp-item {
  display: flex;
  flex-direction: column;
}
.exp-item .title {
  display: flex;
  align-items: center;
}
.exp-item .exp-img {
  background-color: rgba(149, 255, 244, 0.3);
}
.exp-item h3 {
  margin-left: 20px;
}
.exp-item .exp-content {
  margin-top: 10px;
  padding: 10px;
}

.portfolio {
  margin-top: 120px;
}
.portfolio img {
  width: 100%;
}

.portfolio-top .row {
  align-items: flex-end;
}
.portfolio-top .portfolio-top-left p {
  color: #00000070;
  letter-spacing: 1.6px;
  font-weight: 700;
}
.portfolio-top .portfolio-top-left h2 {
  color: #130F49;
  font-size: 50px;
}

.portfolio-projects {
  margin-top: 80px;
}

.about {
  margin-top: 120px;
}

.about-top p.nice {
  color: #00000070;
  letter-spacing: 1.26px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-top .about-details h2 {
  color: #130F49;
  font-size: 50px;
}
.about-top .about-details p {
  color: #130F49;
  margin-top: 20px;
}

.about-avatar {
  display: flex;
  align-items: center;
}
.about-avatar .avater-img {
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.about-avatar .avater-img img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #cccccc70;
}
.about-avatar .avatar-text {
  margin-left: 10px;
}
.about-avatar .avatar-text h4 {
  color: #130F49;
  font-weight: 700;
  margin-bottom: 0;
}
.about-avatar .avatar-text p {
  color: #00000090;
}

.about-skills .skill .row {
  justify-content: space-between;
}
.about-skills .skill .skill-img {
  background-color: #F2F3F5;
  border-radius: 50%;
  width: 80%;
}
.about-skills .skill img {
  width: 100%;
  padding: 20px;
}

.clients {
  margin-top: 120px;
}

.clients-top {
  text-align: center;
}
.clients-top p {
  letter-spacing: 1.6px;
  color: #130F49;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
}
.clients-top h2 {
  color: #130F49;
  font-size: 50px;
}

.clients-imgs {
  margin-top: 60px;
}
.clients-imgs .row {
  justify-content: space-between;
}
.clients-imgs .client-img img {
  width: 100%;
}

.contact {
  margin-top: 120px;
}

.contact-top {
  background-color: #E9F9FF;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
  text-align: center;
}
.contact-top > p {
  color: #B4B2C5;
  letter-spacing: 1.6px;
  font-size: 14px;
  text-transform: uppercase;
}
.contact-top h2 {
  color: #130F49;
  font-size: 40px;
  font-weight: 700;
}
.contact-top .email {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.contact-top .email p {
  margin-left: 10px;
  letter-spacing: 1px;
  color: #B4B2C5;
  font-weight: 700;
  font-size: 20px;
}