.about {
    margin-top: 120px;
}

.about-top {
    p.nice {
        color: #00000070;
        letter-spacing: 1.26px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .about-details {
        h2 {
            color: $colorPrimary;
            font-size: 50px;
        }

        p {
            color: $colorPrimary;
            margin-top: 20px;
        }
    }
}

.about-avatar {
    display: flex;
    align-items: center;

    .avater-img {
        width: 65px;
        height: 65px;
        overflow: hidden;

        img {
            width: 100%;
            border-radius: 50%;
            border: 2px solid #ffffff;
            background-color: #cccccc70;
        }
    }

    .avatar-text {
        margin-left: 10px;

        h4 {
            color: $colorPrimary;
            font-weight: 700;
            margin-bottom: 0;
        }

        p {
            color: #00000090;
        }
    }
}

.about-skills {
    .skill {
        .row {
            justify-content: space-between;
        }
        .skill-img {
            background-color: #F2F3F5;
            border-radius: 50%;
            width: 80%;
        }
        img {
            width: 100%;
            padding: 20px;
        }
    }
}